$background: #000000;
$h1-main: #ffffff;
$banner-color: #ffffff;
$h1-decoration: #6EBF8B;
$h2-main :#455464;
$lang-button: #9f83ff;
$li-a-base: #202020;
$li-a-hover: #D82148;
$content-font-color: #292929;
$nav-color: #93ffd7;
$nav-accent: #f33d41;
$nav-negative: #FFFFFF;
