$background: #000000;

$h1-main: #b12121;
$banner-color: #ffffff;
$h1-decoration: #6EBF8B;

$h2-main :#455464;

$lang-button: #9f83ff;

$li-a-base: #202020;
$li-a-hover: #D82148;

$content-font-color: #292929;
