$light-green: #93ffd7;
$black: #000000;
$red: #f33d41;

$background: $black;
$h1-main: #ffffff;
$banner-color: #ffffff;
$h1-decoration: $light-green;
$h2-main :#455464;
$li-a-base: #202020;
$li-a-hover: #D82148;
$content-font-color: #d4d4d4;
$nav-color: $light-green;
$nav-accent: $red;
$nav-negative: #FFFFFF;
