@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@800&display=swap');

@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/iosevka-term-ss18-regular.ttf'), local('ttf');
  font-display: swap;
}
