
@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/iosevka-term-ss18-regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face { 
    font-family: "gohu"; src: url("/fonts/gohu.woff") format('woff'); }
