
@font-face { 
    font-family: "gohu"; src: url("/fonts/gohu.woff") format('woff'); }

@font-face { 
    font-family: "unifont"; src: url("/fonts/unifont.woff") format('woff'); }

@font-face { 
    font-family: "OrthodoxHerbertarian"; src: url("/fonts/OrthodoxHerbertarian.ttf") format('truetype'); }
