.main-title {
    padding-top: 30px;
    font-family:"gohu", "Work Sans";
    font-size: 20px;
    color: $h1-main;
    text-decoration: underline;
    text-decoration-color: $h1-decoration;
}

h1.inverted{
    background: $background;
    color: #FFFFFF;
    width: fit-content;
    text-decoration: none;
    font-family: "gohu", mono;
    font-size: 25px;
}

h2 {
  font-family: "gohu", "Work Sans";
  font-size: 20px;
  color: $h2-main;
}
