#nav-container{
    font-family: "gohu";
    font-size: 15px;
    color: $nav-negative;
    a{
        text-decoration: none;
    }
}
.nav-element{
    color: $nav-color;
}
.nav-accent{
    color: $nav-accent;
}
