#post-list{
    width: 30vw;
    p{
        font-family: "gohu";
        font-size: 15px;
        a{
            text-decoration: none;
            color: $content-font-color;
        }
    }
}
@media only screen and (max-width: 768px){
    #post-list{
        text-align: center;
        width: 90vw;
        padding-top: 10vh;
    }
}
