@import "fonts";
@import "colors";
@import "nav";
@import "headers";
@import "page";
@import "section";
@import "index";

.background {
  background: $background;
}

a {
  font-weight: 700;
  color: $nav-accent;
}

.content-font-style{
    font-family: "unifont", mono;
    font-size: 16px;
}

.content {
  @extend .content-font-style;
  text-justify: auto;
  color: $content-font-color;
  p {
    line-height: 175%;
  }
}

.center-column {
      margin-left: auto;
      margin-right: auto;
      width: 50vw;
      width: 400px;
}

@media only screen and (max-width: 768px){
    .center-column {
          margin-left: auto;
          margin-right: auto;
          width: 90vw;
    }
    .content {
        p {
            line-height: 200%;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}

code {
    @extend .content-font-style;
    font-size: inherit;
}

table{
    border-collapse: collapse;
}
th,td{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: 1px solid #ddd;
}

a[target] svg {
  display: none !important;
}

a[target] span { 
  display: none !important
} 

th{
    background: #f0f0f0;
}
