{% block header %}
<head>

    {% set current_path = current_path | default(value="/") %}
    {% if current_path == "/" %}
    <title>
        {{ config.title | default(value="Home") }}
    </title>
    {% else %}
    <title>
        {{ page.title | default(value=section.title) | default(value=config.title) | default(value="Post") }}
    </title>
    {% endif %}

    <link rel="icon" type="image/png" href="favicon.ico" />

    {% block styles %}
    <link rel="stylesheet" type="text/css" media="screen" href={{ get_url(path="main.css") }} />
    {% endblock styles %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    {% if config.extra.analytics.enabled and config.extra.analytics.goatcounter_user %}
        {% set user = config.extra.analytics.goatcounter_user %}
        <script data-goatcounter="https://{{ user }}.goatcounter.com/count" 
            async src="//gc.zgo.at/count.js"></script>
    {% endif %}
    {% endblock scripts %}
    {% block meta %}
        {% include "partials/meta.html" %}
    {% endblock meta %}
</head>
{% endblock header %}
