{% block meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page and page.assets %}
      {% set meta_img = page.assets[0] %}
  {% else %}
      {% set meta_img = config.extra.default_img %}
  {% endif%}

  <meta name="description" content={{ config.description }}>
  <meta name="image" content={{ get_url(path=meta_img) }}>
  <meta name="twitter:title" content="{{ config.title }}">
  <meta name="twitter:description" content={{ config.description }}>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ get_url(path=meta_img) }}">
  <meta name="twitter:url" content={{ config.base_url }}>
  <meta name="twitter:site" content={{ config.extra.twitter }}>
  <meta property="og:type" content="article">
  <meta property="og:title" content={{ config.title }}>
  <meta property="og:description" content={{ config.description }}>
  <meta property="og:image" content={{ get_url(path=meta_img) }}>
  <meta property="og:url" content={{ config.base_url }}>
  <meta property="og:site_name" content={{ config.title }}>
  <meta itemprop="name" content="">
  <meta itemprop="description" content={{ config.description }}>
  <meta itemprop="image" content={{ get_url(path=meta_img) }}>
{% endblock meta %}
